{
	admin off
}

:8080 {
	log {
		output stdout
		format json
		level INFO
	}

	route {
		switchboard {
			registry s3
			channel prod
			poll_interval 1s
			invoke_timeout 500ms
			memory_limit 64mb
			cache_dir /var/lib/switchboard
			pool_size 16
			fail_mode open
		}

		@v2 vars backend v2
		header @v2 x-selected-backend v2

		reverse_proxy backend:9000
	}
}
